body{
  margin: 0;
  text-align: center;
}
/* Title Section */
.Name{
  padding-top: 1%;
  text-align: center;
  font-family: 'Kufam', cursive;
}

/* Category Section */

#categories{
  padding: 1% 0;
  text-align: center;
}

.Men{
  padding:20% 0;
  background-image: url('../images/pic1.jpg');
  background-position: top center;
  background-size: 870px auto;
  background-repeat: no-repeat;
  color: white;
  font-size: 2.5rem;
  

}

.Women{
  background-image: url("https://cdn.shopify.com/s/files/1/2311/5649/products/12-_-u_20s_-_-_3509_2048x.jpg?v=1592485638");
  padding: 20% 0;
  background-position: top center ;
  background-size: 734px auto;
  background-repeat: no-repeat;
  color: white;
  font-size: 2.5rem;
}
.Kids{
  padding: 20% 0;
  background-image: url('../images/kids.png');
  background-position: center top;
  background-size: 1013.5px auto ;
  background-repeat: no-repeat;
  color: white;
  font-size: 2.5rem;
}


/* bottom-section */

#social{
  color: #484848;
  text-align: center;
  font-size: 1rem;
  

}
p{
  line-height: 4;
}
.icons{
  margin-bottom: 10px;
}

.fb-icon{
  padding-right: 2em; 
}
.bottom-container{
   
    background-color: #66bfbf;
    padding: 1px 1px;
    
}

.copyright-msg{
  font-size: 0.75rem;
  color: white;
}
  


  
  
