body{
  margin: 0;
  text-align: center;
}
/* Title Section */
.Name{
  padding-top: 1%;
  text-align: center;
  font-family: 'Kufam', cursive;
}

/* Category Section */

#categories{
  padding: 1% 0;
  text-align: center;
}

/* Men category design */
.Men{
  height: 900px;
  background-color: red;
  background-image: url('../images/pic1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  
}
/* Men text styling */
.men-text{
  padding-top: 0;
  background-color: red;
  margin-top : 0;
  color: white;
  font-size: 2rem;
}

/* Women category design */
.Women{
  height: 900px;
  background-image: url("https://cdn.shopify.com/s/files/1/2311/5649/products/12-_-u_20s_-_-_3509_2048x.jpg?v=1592485638");
  background-position: top center ;
  background-repeat: no-repeat;
  
}
/* Women text styling */
.women-text{
  background-color: red;
  margin-top: 700px;
  color: white;
  font-size: 2rem;
}

/* Kids category design */
.Kids{
  height: 900px;
  background-image: url('../images/kids.png');
  background-position: center top;
  background-size: 1013.5px auto ;
  background-repeat: no-repeat;
  
}
/* Kids text styling */
.kids-text{
  background-color: red;
  margin-top: 700px;
  
  color: white;
  font-size: 2rem;
}


/* bottom-section */

#social{
  color: #484848;
  text-align: center;
  font-size: 1rem;
  

}
p{
  line-height: 4;
}
.icons{
  margin-bottom: 10px;
}

.fb-icon{
  padding-right: 2em; 
}
.bottom-container{
   
    background-color: #66bfbf;
    padding: 1px 1px;
    
}

.copyright-msg{
  font-size: 0.75rem;
  color: white;
}
  


  
  



  
  
